*{
  box-sizing: border-box;
}

body{
  font-family: 'Lato', Arial, sans-serif;
  font-size: 1vw;
}

header, section, footer{
  padding-left: 13.43vmax;
  padding-right: 13.43vmax;
}

header{
  background: #02496a url("../img/HERO.jpg") no-repeat;
  min-height: 100vh;
  }

footer{
  background: #151d20 url('../img/bg-footer.jpg')
}

ul{
  list-style: none;
}

h2{
  text-transform: uppercase;
  font-family: 'Raleway';
  line-height: 2.5em;
  font-size: 1.86em;
  font-weight: 700;
}

h3{
  text-transform: capitalize;
}

a{
  text-decoration: none;
}

button{
  font-size: 1.5em;
  text-transform: uppercase;
}

[class*="title--line"]{
  background-color: #222;
  margin: 0 auto;
  width: 86px;
  height: 2px;
}

.header, #about, #contact{
  background-size: cover;
}

  .header__logomenu{
    display: flex;
    padding-top: 5.5vmax;
  }

  .header__nav{
    display: flex;
    margin: 0 auto;
    padding-left: 25%;
    text-transform: uppercase;
    width: 68.75vmax;
    justify-content: space-between;
    font-weight: 500;
    font-size: 0.87em;
  }

    .nav__item{
      color: #fffffe;
    }

  .header__title{
    text-align: center;
    font-family: 'Raleway';
    font-size: 3em;
    color: #fff;
    margin-top: 24%;
    margin-bottom: 7%;
  }

    .header__title--line{
      background-color:  #ffffff;
    }

  .header__info{
    color:  #fffefe;
    font-size: 1.375em;
    font-weight: 400;
    line-height: 1.875em;
    text-align: center;
    margin-bottom: 27vmin;
    padding-left: 14.68vmax;
    padding-right: 14.68vmax;
  }

  .header__scroll{
    width: 5.75vmax;
    margin: 0 auto;
    padding-bottom: 3vmax;
  }

    .header__scroll--container{
      width: 100%;
      height: 0;
      padding-top: 50%;
      position: relative;
      margin: 0 auto;
    }

      .header__scroll--image{
        position: absolute;
        bottom: 0;
        left: 0;
        fill: #808b91;
        opacity: 0.5;
      }

.services__title{
    text-align: center;
  }

  .services__list{
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 5vmax 0;
  }

    .services__item{
      line-height: 1.875em;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      padding-right: 4.375em;
    }

      .services__image--left{
        width: 4.69vw;
        height: 8.25vw;
      }

      .services__image--middle{
        width: 12vw;
        height: 9.25vw;
      }

      .services__image--right{
        width: 46.875%;
        height: 46.875%;
      }

.about{
  margin: 0 auto;
  padding: 0 19.69vmax 0 13.4vmax;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  background: #fff url("../img/bg-dolore.jpg") no-repeat;
  /*background-size: cover;*/
}

  .about__container{
    display: flex;
    flex-direction: column;
    height: 44%;
    }

    .about__title{
      transform: scaleY(1.0092);
    }

    .about__text{
      font-weight: 100;
      font-size: 1.375em;
      line-height: 1.75em;
    }
    .about__more{
      color: #fff;
      text-decoration: underline;
    }

  .about__image{
    padding-top: 4.68vmax;
    padding-left: 15.31vmax;
  }

.work{
  text-align: center;
}

  .work__items{
    width: 100%;
    height: auto;
    margin-top: 5.94vmax;
  }

  .work__items a{
    display: inline-block;
    width: 30%;
    margin-right: 2vmax;
  }

  .work__items a:last-child{
    margin-right: 0;
  }

  .work__items a:hover{
    background-color: #fff;
    background: url('../img/Rectangle-hover.jpeg');
    opacity: 0.5;
    width: 30%;
    height: 100%;
  }

    .work__item{
      width: 100%;
    }

  .work__button{
    border-width: 3px;
    border-color:  #222222;
    border-style: solid;
    width: 22.75vmax;
    height: 6vmin;
    margin: 5vmax 0;
    background-color: #fff;
  }

.contact{
  margin: 0 auto;
  padding-top: 7.5vmax;
  padding-bottom: 7.5vmax;
  background: #02496a url("../img/bg-footer.jpg") no-repeat;
}

  .contact__title{
    color: #fff;
    text-align: center;
  }

    .contact__title--line{
      background-color: #fff;
    }

  .contact__socialmedia{
    display: flex;
    width: 230px;
    height: 25px;
    justify-content: space-between;
    align-items: baseline;
    margin: 0 auto;
    padding: 4.375vmax 0;
  }

    .contact__socialmedia--icon{
      fill: #fff;
      fill-rule: evenodd;
    }

  .contactform{
    width: 41.875vmax;
    background: rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    padding-bottom: 3vmax;
  }

    .contactform--container{
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

      .contactform__name, .contactform__email{
        width: 18.75vmax;
        border: none;
        border-bottom: 2px solid;
        border-bottom-color: rgba(175, 175, 175, 1);
        background-color: transparent;
        font-size: 1.125em;
        font-style: italic;
        color: #676767;
        margin-bottom: 2vmax;
        padding: 1.25vmax 2vmax;
      }

    .contactform__message{
      width: 100%;
      border: none;
      border-bottom: 2px solid;
      border-bottom-color: rgba(175, 175, 175, 1);
      background-color: transparent;
      font-size: 1.125em;
      font-style: italic;
      color: #676767;
      padding: 1.25vmax 2vmax;
    }

    .contactform__message::placeholder{
      padding-top: 12vh;
    }

    .contactform__name:focus,
    .contactform__email:focus,
    .contactform__message:focus{
      border: 2px solid red;
    }

  .contact__button{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 20vh;
    height: 3.75vw;
    border: 3px solid #fff;
    background-color: transparent;
    color: #fff;
 }
